In [1]:
# coding: utf-8

import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages
# 日本語出力対応
plt.rcParams['font.family'] = 'IPAexGothic'

In [13]:
from tkinter import filedialog

typ = [('CSVファイル','*.csv')] 
# dir = 'C:\\'
dir = 'C:\\Users\\17T2166H\\OneDrive\\信州大学\\四年\\研究'
fle = filedialog.askopenfilename(filetypes = typ, initialdir = dir) 
# csv_name = fle
print(fle)

C:/Users/17T2166H/OneDrive/ドキュメント/YYNo006_4pd.csv

In [2]:
# csv_name = fle
fle = "C:/Users/17T2166H/OneDrive/ドキュメント/YYNo006_4pd.csv"

In [7]:
type("avc")

str

In [20]:
# ファイル指定
# 実験number ="006"
# csv_name ="YYNo"+実験number+"_4pd.csv"

#CSVファイルをUTF-8形式で読み込む
df_score = pd.read_csv(csv_name,encoding = "utf-8", engine='python')

In [21]:
df_score[0:10]

   2sita  cps
0  40.00    6
1  40.02    4
2  40.04    6
3  40.06    2
4  40.08   11
5  40.10    6
6  40.12    6
7  40.14    3
8  40.16    8
9  40.18   10

In [8]:
import os
import re

In [14]:
# basename_without_ext = os.path.splitext(os.path.basename(fle))[0]
result = re.findall(r"\d+", os.path.splitext(os.path.basename(fle))[0])[0]
result[0]

'006'